@charset "UTF-8";

html {
    font-size: 100%;
}
body {
    font-size: 15px;
    color: #5a5c60;
    background-color: #f9f7f5;
    position: absolute;
    padding: 0;
    margin: 0;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
a {
    text-decoration: none;
    color: #86d5e5;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
h1, h2, h3, h4 {
    font-weight: bold;
}

/* header */
.dashboard-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 178px;
    z-index: 9999;
}
header .header_inner {
    width: 100%;
    height: 100vh;
    background-color: #464a53;
}
header .header_inner nav {
    color: #fff;
}
header .header_inner nav li {
    list-style: none;
}
header .header_inner nav a {
    color: #fff;
    padding: 15px 10px;
}
header .header_inner nav a:hover {
    background-color: #626671;
    border-radius: 5px;
}
header .header_inner h1 {
    font-size: 24px;
    padding: 20px 0;
    text-align: center;
    color: #fff;
    background-color: #8284bd;
}
header .header_inner h1 a{
    color: #fff;
}


header .header_inner nav li p {
    font-size: .1rem;
    width: 120px;
    margin-left: 10px;
    color: #989898;
}
header .header_inner .sub_sidemenu {
    margin-top: 50px;
}

header .header_inner nav li:first-child {
    padding-top: 10%;
}
header .header_inner nav li {
    padding: 3% 0 3% 5%;
}
header .header_inner nav a span {
    font-size: 10px;
    margin-left: 15px;
    vertical-align: middle;
}

/* main */
main {
    width: 1080px;
    padding-left: 210px;
    padding-top: 30px;
    padding-bottom: 30px;
    box-sizing: border-box;
}
main h1 {
    font-size: 18px;
    margin-bottom: 30px;
    color: #5a5c60;
}
main .main_container {
    width: 100%;
}
/* acount_list.html */
main .new_setting_area {
    position: relative;
    margin-bottom: 30px;
    height: 70px;
    border-bottom: 1px solid #d6d6d6;
}
main .new_setting_area .new_setting {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #86d5e5;
    box-sizing: border-box;
    border-radius: 10px;
    float: right;
}
main .new_setting_area .new_setting a {
    display: block;
    color: #fff;
    padding: 15px 30px;
    transition: 0.5s;
}

.list_unit_container {
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
    border: 1px solid #efefef;
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list_unit_container:hover {
    box-shadow: 0 0 10px rgb(51 55 68 / 15%);
}
.list_unit_container .list_item_block h2 {
    color: #333;
    font-size: 18px;
    letter-spacing: 1px;
    margin-bottom: 5px;
}
.list_unit_container .list_item_block span {
    font-size: 12px;
    line-height: 18px;
}

.list_unit_container .list_item_block .twitter_name_block {
    display: flex;
}
.list_unit_container .list_item_block .twitter_name_block .name {
    margin-left: 10px;
}
.list_unit_container .list_item_block .twitter_name_block span {
    margin-left: 5px;
}
.list_unit_container .list_item_block .sub_contents {
    display: flex;
}
.list_unit_container .list_item_block .sub_contents .title {
    width: 90px;
    line-height: 26px;
    color: #fff;
    border-radius: 3px;
    font-size: 12px;
    text-align: center;
}
.twitter_color {
    background-color: #00aced;
}
.instagram_color {
    background-color: #ca2978;
}
.list_unit_container .list_item_block .sub_contents .value {
    color: #939393;
    margin: 0 10px;
    font-size: 10px;
    line-height: 26px;
}

.list_unit_container .suggest_link {
    display: inline-block;
    color: #5a5c60;
    box-sizing: border-box;
    border-left: 1px solid #efefef;
    width: 80px;
    height: 60px;
    text-align: center;
    padding-top: 10px;
}
/* dashboard */
#dashboard .dash_top_nav, 
#dashboard .dash_top_nav .dsah_tn_left a {
    display: flex;
}
#dashboard .dash_top_nav .dsah_tn_left {
    display: flex;
    margin-right: 20px;
    flex-wrap: wrap;
}
#dashboard .dash_top_nav .dsah_tn_left a {
    align-items: center;
    justify-content: center;
    width: 47%;
    padding: 15px 10px;
    border-radius: 10px;
    margin: 5px;
    box-sizing: border-box;
    background-color: #8284bd;
    color: #fff;
    text-align: center;
}
#dashboard .dash_top_nav .dsah_tn_left a:hover {
    background-color: #9ea0db;
}
#dashboard .dash_top_nav .dsah_tn_left, 
#dashboard .dash_top_nav .dsah_tn_right {
    padding: 3%;
    border-radius: 10px;
    box-sizing: border-box;
    width: 50%;
    background-color: #fff;
    border: 1px solid #d6d6d6;
}
#dashboard .dash_top_nav .dsah_tn_right h2 {
    font-size: 16px;
    margin-bottom: 20px;
}
#dashboard .dash_top_nav .dsah_tn_right p {
    font-size: 14px;
    line-height: 24px;
}
#dashboard .dashboard_contents_container {
    margin-top: 20px;
    padding-bottom: 30px;
    box-sizing: border-box;
}
#dashboard .dashboard_contents_container .account_title_dash {
    font-size: 18px;
    font-weight: 700;
    border-bottom: 1px solid #efefef;
    margin-bottom: 20px;
    margin-top: 30px;
    padding-bottom: 10px;
    position: relative;
}
#dashboard .dashboard_contents_container .account_title_dash p {
    font-size: 14px;
    font-weight: 400;
}
#dashboard .dashboard_contents_container .account_view ul {
    border-radius: 10px;
    max-width: 100%;
    border: 1px solid #d0d0d0;
    background-color: #fff;
    display: flex;
}
#dashboard .dashboard_contents_container .account_view ul li {
    width: 50%;
    padding: 20px 30px;
    box-sizing: border-box;
    display: flex;
}
#dashboard .dashboard_contents_container .account_view ul li svg {
    margin-top: 6px;
    margin-right: 20px;
}
#dashboard .dashboard_contents_container .account_view ul li div, 
#hashtag_user_analyze .user_analyze_data_box .information_value {
    font-size: 24px;
}
#dashboard .dashboard_contents_container .account_view ul li div span {
    font-size: 14px;
    font-weight: 400;
    margin-left: 10px;
}
#dashboard .dashboard_contents_container .account_view ul li div:nth-child(3) {
    font-size: 14px;
    margin-top: 12px;
    margin-left: 20px;
}
#dashboard .dashboard_contents_container .chart_container, 
#dashboard .dashboard_contents_container table {
    margin-bottom: 30px;
}
#dashboard .dashboard_contents_container .hash_list_cont .hash_container ul {
    width: 870px;
    border: 1px solid #d0d0d0;
    background-color: #fff;
    display: flex;
    border-radius: 10px;
}
#dashboard .dashboard_contents_container .hash_list_cont .hash_container ul li {
    width: 410px;
    padding: 20px 30px;
    box-sizing: border-box;
    display: flex;
}
#dashboard .dashboard_contents_container .hash_list_cont .hash_container ul li div:last-child{
    margin-left: 30px;
}
#dashboard .dashboard_contents_container .chart_container .chart {
    width: 120px;
    height: 120px;
    background-color: pink;
    text-align: center;
    line-height: 120px;
}
#dashboard .dashboard_contents_container .hash_list_cont .hash_container h3 {
    margin-top: 10px;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 10px;
}
#dashboard .dashboard_contents_container .hash_list_cont .hash_container h3 svg{
    margin-right: 5px;
}
#dashboard .dashboard_contents_container .hash_list_cont .hash_container h4 {
    font-size: 32px;
}
/* account_analyze */
.main_top_titlebtn {
    position: relative;
}
.main_top_titlebtn h1 svg {
    vertical-align: middle;
    width: 50px;
    margin-right: 10px;
}
.main_top_titlebtn .right_menu {
    position: absolute;
    top: 0;
    right: 0;
}
.main_top_titlebtn .right_menu .sns_icon_1 {
    background-color: #19aced;
}
.main_top_titlebtn .right_menu .sns_icon_1:hover {
    background-color: #37bbf5;
}
.main_top_titlebtn .right_menu .sns_icon_1, .main_top_titlebtn .right_menu .sns_icon_2 {
    padding: 15px 20px;
    box-sizing: border-box;
    text-align: center;
    color: #fff;
    border-radius: 5px;
}
.search_header {
    margin-top: 50px;
    width: 100%;
    position: relative;
}
.search_header ul {
    display: flex;
    border-bottom: 1px solid #d6d6d6;
}
.search_header ul li {
    margin-left: 10px;
}
.search_header ul li:first-child {
    margin-left: 0;
}
.search_header ul li a {
    box-sizing: border-box;
    display: block;
    width: 150px;
    padding: 12px 30px;
    border-radius: 5px 5px 0 0;
    text-align: center;
    color: gray;
}
.search_header ul li a.now, 
.search_header ul li a:hover {
    background-color: #8284bd;
    color: #fff;
}
.search_header .right_menu {
    position: absolute;
    bottom: 5px;
    right: 0;
    z-index: 9;
}
.search_header .right_menu a {
    display: block;
    color: #fff;
    background-color: #86d5e5;
    border: 1px solid #d6d6d6;
    border-radius: 5px;
    padding: 12px 60px;
}
.search_header .right_menu a:hover {
    color: #333;
    background-color: #fff;
}
.search_container {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}
body.twitter .search_value_container {
    background-color: #37bbf5;
}
.search_container .search_value_container .search_value_container_inner .search_setting_value .search_setting_inner {
    display: flex;
}
.search_container .search_value_container .search_value_container_inner .search_setting_value .search_setting_inner .setting_value_title {
    font-size: 12px;
    line-height: 30px;
    color: #f5ff00;
    margin-right: 10px;
}
.search_container .search_value_container .search_value_container_inner .search_setting_value .search_setting_inner .setting_value_contents {
    font-size: 14px;
    margin-right: 20px;
    line-height: 30px;
    color: #fff;
}
.account_profile_block {
    display: flex;
}
.account_profile_block .account_image {
    width: 70px;
    height: 70px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 20px;
    margin-left: 20px;
    background-color: #333;
    color: #fff;
    text-align: center;
    line-height: 70px;
}
.account_profile_block {
    border-bottom: 1px solid #efefef;
    margin-bottom: 20px;
    padding: 20px 0;
}
.account_profile_block a {
    display: block;
    margin-top: 10px;
    line-height: 20px;
}
.account_profile_block a svg{
    color: #5a5c60;
}
.account_profile_block p {
    display: block;
    width: 100%;
    font-size: 12px;
    color: #333;
    margin-top: 5px;
}

.analyze_detail, .recommend_container article {
    margin-top: 30px;
}
.analyze_detail h2 {
    font-size: 16px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
.analyze_detail h2 a {
    font-size: 14px;
    line-height: 20px;
}
.analyze_detail .total_result {
    margin-bottom: 20px;
}
.analyze_detail .total_result ul {
    display: flex;
    flex-wrap: wrap;
}
.analyze_detail .total_result ul li {
    display: inline-block;
    background-color: #fff;
    box-sizing: border-box;
    width: 164px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #efefef;
    padding: 8px;
    position: relative;
}
.analyze_detail .total_result ul li a{
    background-color: #dbe2eb;
    border-radius: 50%;
    color: #fff;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
}
.analyze_detail .total_result ul li .result_title {
    color: #c2966c;
    font-size: 12px;
    margin-bottom: 5px;
}
.analyze_detail .total_result ul li .result_value .value {
    font-size: 18px;
    line-height: 20px;
}
.analyze_detail .total_result ul li .result_value .unit {
    font-size: 10px;
    margin-left: 5px;
    position: absolute;
    right: 8px;
    bottom: 10px;
}
.analyze_detail .total_result ul li .question {
    top: 5px;
}
.suggest_link.question {
    position: absolute;
    right: 5px;
    top: 0;
}

.analyze_detail .report_download {
    text-align: center;
    margin: 40px 0;
}
.button_download {
    border: 3px solid #d0d0d0;
    background-color: #fff;
    color: #787878;
    padding: 20px 30px;
    border-radius: 50px;
    margin: 0 5px;
}
.button_download:hover {
    color: #787878;
}
.button_b_openset, .button_download, .get_csv_download a {
    box-sizing: border-box;
    font-weight: 700;
}
.button_download span {
    color: #8284bd;
}

.analyze_detail .chart_inner {
    position: relative;
    margin-bottom: 50px;
    border: 1px solid #efefef;
    height: 250px;
    background-color: #fff;
    text-align: center;
    line-height: 250px;
}
.analyze_detail .chart_title {
    display: flex;
    justify-content: space-between;
}
.analyze_detail h2 a {
    font-size: 14px;
    line-height: 20px;
}

/* hashtag_create */
#hashtag_create .search_word_container .search_word_inner {
    margin-bottom: 20px;
    margin-right: 38px;
}
.search_word_inner span {
    display: inline-block;
    width: 60px;
    font-size: 16px;
    line-height: 60px;
    text-align: center;
    background-color: #8284bd;
    color: #fff;
    border-radius: 5px 0 0 5px/5px 0 0 5px;
}
#hashtag_create .search_word_container .search_word_inner input {
    width: 300px;
    height: 60px;
    border-radius: 0 5px 5px 0/0 5px 5px 0;
    border: 1px solid #efefef;
    border-left: none;
    padding: 10px;
    font-size: 16px;
    background-color: #fff;
    cursor: text;
}
main .dash_btn {
    background-color: #6c70d6;
    padding: 19px 30px;
    border-radius: 5px;
    box-sizing: border-box;
    color: #fff;
}
main .dash_btn:hover {
    background-color: #9296f5;
    cursor: pointer;
}
#hashtag_create .hashtag_create_btn_area {
    margin-top: 30px;
}
#hashtag_create .hashtag_create_btn_area button {
    transition: .5s;
}
#hashtag_create .hashtag_create_btn_area button:hover {
    background-color: #a4a6de;
    cursor: pointer;
}
#hashtag_create form button {
    box-sizing: border-box;
    padding: 3px 8px;
    border-radius: 4px;
    background-color: #8284bd;
    color: #fff;
    display: block;
    border: none;
    font-size: 16px;
    letter-spacing: 1px;
    width: 300px;
    line-height: 50px;
    margin: 0 auto;
}
#hashtag_create .past_hashtag_container h3 {
    font-size: 16px;
    font-weight: 400;
    border-bottom: 1px solid #d6d6d6;
    margin-top: 50px;
    padding: 10px 0;
}
#hashtag_create .past_hashtag_container p {
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 50px;
}
#hashtag_create .past_hashtag_container div {
    margin-top: 50px;
    background-color: pink;
    width: 100%;
    height: 300px;
    text-align: center;
    line-height: 300px;
}

/* hashtag_analyze */
body.instagram .search_value_container {
    background-color: #ec529d;
    border-radius: 0 0 5px 5px;
}
body.instagram .search_setting_value {
    display: flex;
}
.search_container .search_value_container .search_value_container_inner {
    color: #fff;
    width: 870px;
    margin: 0 auto;
    padding: 8px 15px;
    box-sizing: border-box;
}
.instagram_comment {
    width: 100%;
    line-height: 60px;
    text-align: center;
    border: 1px solid #ccc;
    font-size: 14px;
    margin-bottom: 30px;
    border-radius: 5px;
}


/* contact */
form {
    width: 1080px;
}
.contact_form_contents {
    padding: 5%;
}
.contact_form {
    border: 1px solid #939393;
    background-color: #fff;
    border-radius: 60px;
    width: 450px;
    height: 60px;
}
.contact_form input {
    line-height: 60px;
}
.row {
    margin-bottom: 30px;
}
.contact_form textarea {
    display: inline-block;
    line-height: 10px;
    width: 900px;
    height: 1000px;
}